.caption {
  display: -webkit-box; /* enables text truncation */
  -webkit-line-clamp: 2; /* number of lines to show before cutting */
  -webkit-box-orient: vertical;
  overflow: hidden; /* hide extra text */
  text-overflow: ellipsis; /* adds "..." */
}
